h1 {
  font-size: x-large;
  text-align: center;
  color: blue;

}

label {
  font-size: 15px;
  display: block;
  width: 100;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 12px;
}

input[type="radio"] {
  display: inline;
  width: 10%;
}

select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border-radius: 6px;
  margin: none;
  color: white;
  cursor: pointer;
  background-color: #4206a3;
  width: 40%;
  font-size: 16px;
  margin: 5px;
}

button:hover {
  background-color: rgb(47, 158, 227);
}